
@model DirectToEmployer.Models.Jobseeker

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJobseeker.cshtml";
}


<div>
    <h1>Make preparing for your next interview or discovering open positions that compliment your skill set part of your day</h1>
</div>

<div class="row">
    <div class="col-md-4">
  
            <h4>Over your morning coffee</h4>

            <img src="~/Images/hope-house-press-leather-diary-studio-PJzc7LOt2Ig-unsplash.jpg" class="img-responsive" /><br />

            <a href="@Url.Action("Create", "Interview")" class="btn btn-warning">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>

            <a href="@Url.Action("OpenJobPostings", "JobPosting")" class="btn btn-warning">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>

    </div>

    <div class="col-md-4">
        <h4>On your lunch break</h4>

        <img src="~/Images/debby-hudson-pomybSOZsts-unsplash.jpg" class="img-responsive" /><br />

        <a href="@Url.Action("Create", "Interview")" class="btn btn-warning">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>

        <a href="@Url.Action("OpenJobPostings", "JobPosting")" class="btn btn-warning">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
    </div>

    <div class="col-md-4">
        <h4>During a commercial</h4>

       <img src="~/Images/ajeet-mestry-UBhpOIHnazM-unsplash.jpg" class="img-responsive" /><br />

        <a href="@Url.Action("Create", "Interview")" class="btn btn-warning">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>

        <a href="@Url.Action("OpenJobPostings", "JobPosting")" class="btn btn-warning">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
    </div>
</div>

