@model List<DirectToEmployer.Models.Interview>
@{
    ViewBag.Title = "ViewInterviews";
}

<h2>Your Past/Upcoming Interviews:</h2>

<p>
    @Html.ActionLink("Prepare for a new interview", "Create", "Interview")
</p>

<table class="table">
    <tr>
        <th>
            Date Of Interview
        </th>
        <th>
            Company Name
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateAndTimeOfInterview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @*might have to add more overloads*@
            @Html.ActionLink("Edit", "Edit", "Interview")
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
}
</table>

