@model DirectToEmployer.Models.Checklist

<div>
    <h4>Checklist</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.InterviewId)
        @Html.HiddenFor(model => model.ChecklistId)
        <dt>
            @Html.DisplayNameFor(model => model.CompanyResearch)
            @* redirect to companyresearchtips *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyResearch)
            @Html.ActionLink("Prepare", "CompanyResearchTips", "Checklist"@*, new { id = Model.ChecklistId }, null*@)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionsToPrepare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionsToPrepare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PracticeQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PracticeQuestions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsesToPrepare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsesToPrepare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PracticeResponses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PracticeResponses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhatToWear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatToWear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepareOutfit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepareOutfit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhatToBring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatToBring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepareInterviewEssentials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepareInterviewEssentials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterviewFollowUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterviewFollowUp)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit Checklist", "Edit", "Checklist", new { id = Model.ChecklistId }, null) |*@
    @Html.ActionLink("Back to Interview", "ViewInterviews", "Jobseeker")
</p>
