@model DirectToEmployer.Models.Checklist
@{
    ViewBag.Title = "InterviewChecklist";
    Layout = "~/Views/Shared/_LayoutJobseeker.cshtml";
}
<div>
    <h2>Interview Checklist</h2>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.InterviewId)
        @Html.HiddenFor(model => model.ChecklistId)

        <dt>
            @Html.DisplayFor(model => model.CompanyResearch)

            <a href="@Url.Action("CompanyResearchTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.CompanyResearch)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.QuestionsToPrepare)

            <a href="@Url.Action("QuestionsToPrepareTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.QuestionsToPrepare)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.PracticeQuestions)

            <a href="@Url.Action("PracticeQuestionsTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.PracticeQuestions)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.ResponsesToPrepare)

            <a href="@Url.Action("ResponsesToPrepareTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ResponsesToPrepare)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.PracticeResponses)

            <a href="@Url.Action("PracticeResponsesTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>

        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.PracticeResponses)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.WhatToWear)

            <a href="@Url.Action("WhatToWearTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.WhatToWear)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.PrepareOutfit)

            <a href="@Url.Action("PrepareOutfitTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.PrepareOutfit)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.WhatToBring)

            <a href="@Url.Action("WhatToBringTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.WhatToBring)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.PrepareInterviewEssentials)

            <a href="@Url.Action("PrepareInterviewEssentialsTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.PrepareInterviewEssentials)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.InterviewFollowUp)

            <a href="@Url.Action("InterviewFollowUpTips", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.InterviewFollowUp)
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("ViewInterviews", "Jobseeker")" class="btn btn-warning">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>

    <a href="@Url.Action("Edit", "Checklist", new { id = Model.ChecklistId }, null)" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
</p>
